@page "/todo-create"
@using BlazorApp.Models.Enums

<h3>TodoCreate</h3>

<EditForm Model="TodoCreateRequest" OnValidSubmit="HanldeSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="name">Name</label>
        <InputText class="form-control" @bind-Value="TodoCreateRequest.Name"></InputText>
        <ValidationMessage For="()=>TodoCreateRequest.Name"></ValidationMessage>
        <small id="nameHelp" class="form-text text-muted">Please enter task title here.</small>
    </div>

    <div class="form-group">
        <label for="priority">Priority</label>
        <InputSelect class="form-control" @bind-Value="TodoCreateRequest.Priority">
            <option>Select a priority</option>
           @foreach (var item in Enum.GetNames(typeof(Priority)))
           {
               <option value="@item">@item</option>
           }
        </InputSelect>
        <ValidationMessage For="()=>TodoCreateRequest.Priority"></ValidationMessage>
        <small id="nameHelp" class="form-text text-muted">Choose a priority which you want.</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>