@page "/todo-edit/{id}"
@using BlazorApp.Client.Components
@using BlazorApp.Models.Enums

@if (Todo == null)
{
    <LoadingIndicator></LoadingIndicator>
} else {
    <h3>Task Edit: @Todo.Name</h3>

    <EditForm Model="Todo" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="Name">Name</label>
            <InputText class="form-control" @bind-Value="Todo.Name"></InputText>
            <ValidationMessage For="()=>Todo.Name"></ValidationMessage>
            <small id="nameHelp" class="form-text text-muted">Please enter task title here.</small>
        </div>
        <div class="form-group">
            <label for="Name">Priority</label>
            <InputSelect class="form-control" @bind-Value="Todo.Priority">
                <option>Select a priority</option>
                @foreach (string item in Enum.GetNames(typeof(Priority)))
                    {
                    <option value="@item">@item</option>
                    }
            </InputSelect>
            <ValidationMessage For="()=>Todo.Priority"></ValidationMessage>
            <small id="nameHelp" class="form-text text-muted">Choose a priority which you want.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}