<div class="card card-brand mb-4 shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <h4>@Title</h4>
                <p class="text-secondary">@HelpText</p>
            </div>

            <div class="col-8">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// Shows the section title
    /// </summary>
    [Parameter, EditorRequired]
    public string Title { get; set; } = default!;

    /// <summary>
    /// Shows the section help text
    /// </summary>
    [Parameter, EditorRequired]
    public string HelpText { get; set; } = default!;

    /// <summary>
    /// Shows the content to be displayed
    /// </summary>
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}
